:root {
  --green: #6aaa64;
  --yellow: #c9b458;
  --gray: #787c7e;
  --white: #ffffff;
  --black: #121212;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
}

.board-container {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--black);
  min-width: 65px;
  min-height: 65px;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: bold;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  touch-action: manipulation;
}

.key-btn {
  border: 1px solid var(--gray);
  border-radius: 4px;
  font-weight: bold;
  margin: 0.1rem;
  padding: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.key-btn:hover {
  transform: scale(1.2);
}

.long-key-btn {
  width: 70px;
}

.green {
  background-color: var(--green);
}
.yellow {
  background-color: var(--yellow);
}

.gray {
  background-color: var(--gray);
}
